/* Mise à zéro de la page html */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Configuration du body */
body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 1440px;
    color: black;
    padding: 0 32px;
    padding-bottom: 0;
}

a {
    text-decoration: none;
    color: initial;
}
/* Mise en place du header */
.header {
    width: 100%;
    height: auto;
    display: inline-flex;
}

.header_logo {
    padding-top: 20px;
}

.header_link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_nav {
    padding: 20px 10px 0 10px;
}

.hebergement {
    border-top: 3px solid #0065fc;
    padding: 30px;
    color: #0065fc;
}

.activites {
    margin-left: -5px;
    padding: 30px;
    text-decoration: none;
}

.header_nav a:hover {
    border-top: 3px solid #0065fc;
    color: #0065fc;
}

.sign_up {
    padding: 20px 10px 0 10px;
    color: #0065fc;
    font-weight: bold;
}
/* Mise en place de la partie recherche */
.search {
    margin-top: 40px;
}

.search_title {
    margin-bottom: 10px;
}

.search_form {
    display: inline-flex;
    margin: 20px 0 30px 0;
    height: 50px;
}

.search_icon {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    text-align: center;
}

.search_input {
    border-left: none;
    border-right: none;
    width: 256px;
    height: 50px;
    border: 1px solid #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}

.search_button {
    font-size: 20px;
    background: #0065fc;
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 0 20px 20px 0;
    border: none;
    cursor: pointer;
}

.search_btn_responsive {
    display: none;
}
/* Mise en place de la section Filtres */
#search_filters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.title_filters {
    height: 56px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.search_filters_filter {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #f2f2f2;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

#search_filters :hover {
    background-color: #DEEBFF;
    transform: scale(1.015);
}

.search_filters_icons {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065fc;
}

.search_filters_title {
    margin: 0 1rem;
}

.search_info {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.search_info_icon {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: #0065fc;
}
/* Mise en place Section Hébergements et + populaires */
#hosting {
    display: inline-flex;
    width: 100%;
    height: auto;
}

.hosting {
    width: 70%;
    height: auto;
    background: #f2f2f2;
    border-radius: 20px;
    margin-right: 30px;
}

.hosting_title {
    padding: 40px;
}

.hosting_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 10px 0 30px;
}

.hosting_card {
    width: 30%;
    background: #fff;
    border-radius: 20px;
    margin: 0 20px 20px 0;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.hosting_card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.hosting_card img {
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    padding: 5px;
}

.hosting_text {
    margin: 0 0 10px 20px;
}

.hosting_text_text {
    padding: 5px 0;
}

.hosting_text_text span {
    font-weight: bold;
}

.icon_full {
    color: #0065fc;
}

.icon_empty {
    color: #d9d9d9;
}

.showmore {
    width: 14%;
    font-weight: bold;
    padding: 10px 0 10px 30px;
}

.showmore:hover {
    cursor: pointer;
    color: #0065fc;
}

.most_popular {
    width: 30%;
    background: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.most_popular_title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 20px 20px 30px;
}

.most_popular_title i {
    align-self: center;
    font-size: 22px;
}

.most_popular_bloc {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.popular_card {
    display: inline-flex;
    width: 90%;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.popular_card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.popular_card img {
    width: 40%;
    padding: 5px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.card_title_text span {
    font-weight: bold;
}

.text_stars {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Mise en place Section Activités */
#activity {
    width: 100%;
    height: auto;
}

.activity_title {
    margin: 40px 0 20px 0;
}

.activity_bloc {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 445px;
}

.activity_card_big {
    display: flex;
    flex-direction: column;
    width: 23%;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 20px 20px 20px 20px;
}

.activity_card_big img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity_card_title {
    padding: 10px;
}

.activity_bloc_card {
    width: 23%;
    display: flex;
    flex-direction: column;
    
}

.activity_card_medium {
    width: 100%;
    height: 235px;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 40px;
}

.activity_card_medium img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity_card_small {
    width: 100%;
    height: 165px;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 20px 20px 20px 20px;
}

.activity_card_small img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity_card_middle1 {
    width: 100%;
    height: 202px;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 40px;
}

.activity_card_middle1 img {
    width: 100%;
    height: 145px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity_card_middle2 {
    width: 100%;
    height: 202px;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 20px 20px 20px 20px;
}

.activity_card_middle2 img {
    width: 100%;
    height: 145px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}
/* Mise en place du Footer */
.footer {
    width: 100%;
    background: #F2F2F2;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .bloc-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer-bloc {
    padding: 32px;
    display: flex;
    flex-direction: column;
  }

  .footer-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .footer-link {
    margin-bottom: 10px;
  }

  .footer-link:hover {
    text-decoration: underline;
  }

  .footer-assistance {
    margin-right: 20%;
  }

  /* RESPONSIVE  */

  @media screen and (max-width: 1440px) {
      .hosting_bloc {
          display: flex;
          flex-direction: column-reverse;
      }

      .hosting {
          width: 100%;
      }

      .most_popular {
          width: 100%;
          margin-bottom: 30px;
      }

      .most_popular_bloc {
          width: 100%;
          display: inline-flex;
          flex-direction: row;
      }

  }

  @media  screen and (max-width: 1024px){
      .hosting_card {
          width: 40%;
      }

      .most_popular_bloc {
          display: flex;
          flex-direction: column;
      }

      .activity_bloc {
          display: flex;
          flex-direction: column;
          height: auto;
          width: 100%;
      }

      .activity_card_big {
          width: 100%;
          height: 300px;
          margin: 20px 0 40px 0;
      }
      .activity_card_big img {
          height: 260px;
      }

      .activity_bloc_card {
          width: 100%;
          margin-bottom: 20px;
      }
      .activity_card_medium {
          height: 300px;
          margin-bottom: 40px;
      }
      .activity_card_medium img {
          height: 260px;
      }
      .activity_card_medium h3 {
          margin-top: -4px;
      }
      .activity_card_small {
          height: 300px;
      }
      .activity_card_small img {
          height: 260px;
      }
      .activity_card_small h3 {
          margin-top: -4px;
      }
      .activity_card_middle1 {
          height: 300px;
      }
      .activity_card_middle1 img {
          height: 260px;
      }
      .activity_card_middle1 h3 {
          margin-top: -4px;
      }
      .activity_card_middle2 {
          height: 300px;
      }
      .activity_card_middle2 img {
          height: 260px;
      }
      .activity_card_middle2 h3 {
          margin-top: -4px;
      } 
  }

  @media screen and (max-width: 768px) {
      .search_form {
          width: 100%;
      }
      .search_button {
          display: none;
      }
      .search_btn_responsive {
          display: initial;
          font-size: 20px;
          width: 100px;
          color: #fff;
          background: #0065fc;
          border: none;
          border-radius: 0 20px 20px 0;
          padding: 10px;
      }
      
  }

  @media screen and (max-width: 580px) {
      .bloc-footer {
          flex-direction: column;
      }

      .hosting_cards {
          flex-direction: column;
          margin: 0 30px;
      }
      .hosting_card {
          width: 100%;
          
      }

      .header {
          display: block;
      }

      .header_link {
          width: 100%;
          justify-content: left;
          flex-wrap: wrap;
      }
      .sign_up {
          order: -1;
          position: relative;
          bottom: 50px;
          left: 300px;
          width: 100%;
      }
      .header_nav {
          display: flex;
          width: 100%;
      }
      
      .header_nav a:hover {
          border-top: none;
      }

      .hebergement {
          border-top: none;
          border-bottom: 3px solid #0065fc;
          width: 100%;
      }
      .activites {
          border-bottom: 3px solid #f2f2f2;
          width: 100%;
      }
      .activites:hover {
          border-bottom: 3px solid #0065fc;
      }
}
      
@media screen and (max-width: 425px) {
    .sign_up {
        left: 190px;
    }

    .search_input {
        font-size: 12px;
        width: 70%;
        border-right: none;
    }
    .search_btn_responsive {
        border-radius: 15px;
        width: 20%;
        margin-left: -10px;
    }

    .popular_card {
        height: 160px;
    }
}



