/* Mise à zéro de la page html */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Configuration du body */
body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 1440px;
    color: black;
    padding: 0 2rem;
    padding-bottom: 0;
}

a {
    text-decoration: none;
    color: initial;
}
/* Mise en place du header */
.header {
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-areas: "logo hebergement activite sign";
    grid-template-columns: 6fr 1fr 1fr 1fr;
    font-weight: 500;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    grid-area: logo;
    align-self: center;
}

.hebergement {
    border-top: 2px solid #0065fc;
    color: #0065fc;
    
}

.activites:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

.sign_up {
    color: #0065fc;
    font-weight: bold;
}


/* Mise en place de la partie recherche */
.search {
    margin-top: 2.5rem;
}

.search_title {
    margin-bottom: 0.625rem;
}

.search_form {
    display: inline-flex;
    margin: 1.25rem 0 1.875rem 0;
    height: 3.125rem;
}

.search_icon {
    background: #f2f2f2;
    padding: 1.25rem;
    border-radius: 1.25rem 0 0 1.25rem;
    text-align: center;
}

.search_input {
    border-left: none;
    border-right: none;
    width: 16rem;
    height: 3.125rem;
    border: 1px solid #f2f2f2;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1.25rem;
}

.search_button {
    font-size: 1.25rem;
    background: #0065fc;
    color: #fff;
    width: 9.375rem;
    height: 3.125rem;
    border-radius: 0 1.25rem 1.25rem 0;
    border: none;
    cursor: pointer;
}

.search_btn_responsive {
    display: none;
}
/* Mise en place de la section Filtres */
#search_filters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.title_filters {
    height: 56px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.search_filters_filter {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #f2f2f2;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

#search_filters :hover {
    background-color: #DEEBFF;
    transform: scale(1.015);
}

.search_filters_icons {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065fc;
}

.search_filters_title {
    margin: 0 1rem;
}

.search_info {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.search_info_icon {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: #0065fc;
}
/* Mise en place Section Hébergements et + populaires */
#hosting {
    display: inline-flex;
    width: 100%;
    height: auto;
}

.hosting {
    width: 70%;
    height: auto;
    background: #f2f2f2;
    border-radius: 1.25rem;
    margin-right: 1.875rem;
}

.hosting_title {
    padding: 2.5rem;
}

.hosting_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0.625rem 0 1.875rem;
}

.hosting_card {
    width: 30%;
    background: #fff;
    border-radius: 1.25rem;
    margin: 0 1.25rem 1.25rem 0;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.hosting_card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.hosting_card img {
    width: 100%;
    height: 10.625rem;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
    padding: 5px;
}

.hosting_text {
    margin: 0 0 0.625rem 1.25rem;
}

.hosting_text_text {
    padding: 5px 0;
}

.hosting_text_text span {
    font-weight: bold;
}

.icon_full {
    color: #0065fc;
}

.icon_empty {
    color: #d9d9d9;
}

.showmore {
    width: 14%;
    font-weight: bold;
    padding: 0.625rem 0 0.625rem 1.875rem;
}

.showmore:hover {
    cursor: pointer;
    color: #0065fc;
}

.most_popular {
    width: 30%;
    background: #f2f2f2;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
}

.most_popular_title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.5rem 1.25rem 1.25rem 1.875rem;
}

.most_popular_title i {
    align-self: center;
    font-size: 22px;
}

.most_popular_bloc {
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
}

.popular_card {
    display: inline-flex;
    width: 90%;
    height: 9.375rem;
    background: #fff;
    border-radius: 1.25rem;
    margin: 1.25rem;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.popular_card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.popular_card img {
    width: 40%;
    padding: 5px;
    border-radius: 1.25rem 0 0 1.25rem;
    object-fit: cover;
}

.card_title_text span {
    font-weight: bold;
}

.text_stars {
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Mise en place Section Activités */
#activity {
    width: 100%;
    height: auto;
}

.activity_title {
    margin: 2.5rem 0 1.25rem 0;
}

.activity_bloc {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 1.25rem;
    height: 27.8125rem;
}

.activity_card_big {
    display: flex;
    flex-direction: column;
    width: 23%;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.activity_card_big img {
    width: 100%;
    height: 24.375rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activity_card_title {
    padding: 0.625rem;
}

.activity_bloc_card {
    width: 23%;
    display: flex;
    flex-direction: column;
    
}

.activity_card_medium {
    width: 100%;
    height: 14.6875rem;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin-bottom: 2.5rem;
}

.activity_card_medium img {
    width: 100%;
    height: 11.25rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activity_card_small {
    width: 100%;
    height: 10.3125rem;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.activity_card_small img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activity_card_middle1 {
    width: 100%;
    height: 12.625rem;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin-bottom: 2.5rem;
}

.activity_card_middle1 img {
    width: 100%;
    height: 9.0625rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activity_card_middle2 {
    width: 100%;
    height: 12.625rem;
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.activity_card_middle2 img {
    width: 100%;
    height: 9.0625rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}
/* Mise en place du Footer */
.footer {
    width: 100%;
    background: #F2F2F2;
    margin-top: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .bloc-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer-bloc {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .footer-title {
    font-size: 18px;
    margin-bottom: 0.9375rem;
  }

  .footer-link {
    margin-bottom: 0.625rem;
  }

  .footer-link:hover {
    text-decoration: underline;
  }

  .footer-assistance {
    margin-right: 20%;
  }

  /* RESPONSIVE  */

  @media screen and (max-width: 1440px) {
      .hosting_bloc {
          display: flex;
          flex-direction: column-reverse;
      }

      .hosting {
          width: 100%;
      }

      .most_popular {
          width: 100%;
          margin-bottom: 1.875rem;
      }

      .most_popular_bloc {
          width: 100%;
          display: inline-flex;
          flex-direction: row;
      }

  }

  @media  screen and (max-width: 1024px){

      .header {
          grid-template-columns: 4fr 1fr 1fr 1fr;
      }
      .hosting_card {
          width: 40%;
      }

      .most_popular_bloc {
          display: flex;
          flex-direction: column;
      }

      .showmore {
          width: 100%;
      }

      .activity_bloc {
          display: flex;
          flex-direction: column;
          height: auto;
          width: 100%;
      }

      .activity_card_big {
          width: 100%;
          height: 18.75rem;
          margin: 1.25rem 0 2.5rem 0;
      }
      .activity_card_big img {
          height: 16.25rem;
      }

      .activity_bloc_card {
          width: 100%;
          margin-bottom: 1.25rem;
      }
      .activity_card_medium {
          height: 18.75rem;
          margin-bottom: 2.5rem;
      }
      .activity_card_medium img {
          height: 16.25rem;
      }
      .activity_card_medium h3 {
          margin-top: -4px;
      }
      .activity_card_small {
          height: 18.75rem;
      }
      .activity_card_small img {
          height: 16.25rem;
      }
      .activity_card_small h3 {
          margin-top: -4px;
      }
      .activity_card_middle1 {
          height: 18.75rem;
      }
      .activity_card_middle1 img {
          height: 16.25rem;
      }
      .activity_card_middle1 h3 {
          margin-top: -4px;
      }
      .activity_card_middle2 {
          height: 18.75rem;
      }
      .activity_card_middle2 img {
          height: 16.25rem;
      }
      .activity_card_middle2 h3 {
          margin-top: -4px;
      } 
  }

  @media screen and (max-width: 768px) {

      .header {
          grid-template-columns: 3fr 1fr 1fr 1fr;
      }

      .search_form {
          width: 100%;
      }
      .search_button {
          display: none;
      }
      .search_btn_responsive {
          display: initial;
          font-size: 1.25rem;
          width: 6.25rem;
          color: #fff;
          background: #0065fc;
          border: none;
          border-radius: 0 1.25rem 1.25rem 0;
          padding: 0.625rem;
      }
      
  }

  @media screen and (max-width: 580px) {

    body {
        padding: 0;
    }

    .search {
        padding: 32px;
    }

    .most_popular {
        border-radius: 0;
    }

    .most_popular_title {
        padding-left: 1.25rem;
    }
      
      .bloc-footer {
          flex-direction: column;
      }

      .hosting_cards {
          flex-direction: column;
          margin: 0 1.875rem;
      }
      .hosting_card {
          width: 100%;
          
      }

      .hosting {
          border-radius: 0;
          background: #fff;
      }

      .hosting_title {
          padding-left: 1.25rem;
      }

      #activity {
          padding: 24px;
      }

      .header {
        width: 100%;
        height: 10rem;
        display: grid;
        grid-template-areas: 
        "logo sign" 
        "hebergement activite";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        font-weight: 500;
    }

    header img {
        padding-left: 40px;
    }

    .sign_up {
        justify-content: flex-end;
        padding-right: 40px;
    }

    .hebergement {
        grid-area: hebergement;
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    .activites {
        grid-area: activite;
        border-bottom: 3px solid #d9d9d9;
    }

    .activites:hover {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

     
}
      
@media screen and (max-width: 425px) {

    body {
        padding: 0;
    }


    .search_input {
        font-size: 12px;
        width: 70%;
        border-right: none;
    }
    .search_btn_responsive {
        border-radius: 15px;
        width: 20%;
        margin-left: -10px;
    }

    .popular_card {
        height: 10rem;
    }
}



